.albums-show.container
  .avatar.animated-images
    %figure.animation
      %img.no-opacity{src: album.avatar.photo}

  .middle-content
    .left.title-container
      .title= album.title
      .place= album.place
    .right.description
      %p.readmore
        Interior Design is the definitive resource for interior designers, architects, and other design professionals, featuring groundbreaking projects, innovative new products, real-time design industry new Interior Design is the definitive resource for interior designers, architects, and other design professionals, featuring groundbreaking projects, innovative new products, real-time design industry new Interior Design is the definitive resource for interior designers, architects, and other design professionals, featuring groundbreaking projects, innovative new products, real-time design industry new Interior Design is the definitive resource for interior designers, architects, and other design professionals, featuring groundbreaking projects, innovative new products, real-time design industry new

  .gallery-slider.flexslider.animated-images
    %ul.slides
      - album.shown_photos.each do |photo|
        %li
          %figure.animation
            %img{src: photo.photo}
            %figcaption
              .figcaption-border
                %p= photo.description


