.albums-show.container
  .avatar.animated-images
    %figure.animation
      %img.no-opacity{src: album.avatar.photo}

  .middle-content
    .left.title-container
      .title= album.title
      .place= album.place
    .right.description
      %p.readmore
        = album.full_description

  .gallery-slider.flexslider.animated-images
    %ul.slides
      - album.shown_photos.each do |photo|
        %li
          %figure.animation
            %img{src: photo.photo}
            %figcaption
              .figcaption-border
                %p= photo.description


