@import "mixins";

.container#homepage {
  width: 100%;

  .gallery {
    overflow: hidden;

    .item {
      width: 33.33333333%;
      position: relative;

      img {
        height: 500px;
      }

      figcaption {
        .figcaption-border {
          padding-top: 350px;
          padding-left: 50px;
        }
      }

      .item-name {
        position: absolute;
        bottom: 0;
        height: 80px;
        width: 100%;
        color: white;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        line-height: 80px;
      }

      &.graphic_design .item-name {
        background: rgba(161,243,228,0.5);
      }

      &.interior_design .item-name {
        background: rgba(177,218,255,0.5);
      }

      &.pallet_wood_design .item-name {
        background: rgba(249,184,242,0.5);
      }
    }
  }

  .about-us {
    .search-container {
      margin-right: 150px;
      margin-top: 20px;

      input {
        width: 150px;
        border-radius: 20px;
        display: inline-block;
        line-height: 30px;
        height: 30px;
        border: none;
        background-color: #98c0e4;
        padding-left: 30px;
        color: white;
        font-size: 16px;
      }
    }

    .text-container {
      padding-top: 50px;
      padding-left: 160px;
      padding-bottom: 100px;
      font-size: 18px;
      overflow: hidden;

      .about-us-text {
        font-size: 30px;
        font-weight: 300;
      }

      .highlight {
        font-size: 22px;
        font-weight: 300;
      }

      .title {
        width: 30%;
      }

      .content {
        width: 65%;
        margin-top: 0;
        line-height: 30px;

        .read-more-btn {
          background-color: #70a8d9;
          color: white;
        }
      }
    }

  }

  .home-slider {
    margin-bottom: 100px;
    img {
      height: 500px;
    }
  }

  .slogan {
    font-size: 24px;
    text-align: center;
  }

  #contact-us {
    overflow: hidden;
    height: 600px;
    padding-top: 40px;

    #map {
      width: 70%;
      height: 100%;
    }

    .info-list {
      width: 30%;
      height: 100%;
      background-color: #262626;
      padding-top: 40px;
      padding-left: 60px;

      .header {
        font-size: 24px;
        color: white;
        font-weight: bold;
      }

      .info {
        dt {
          color: white;
          font-size: 20px;
          font-weight: bold;
          color: white;
          margin-top: 15px;
        }

        dd {
          font-size: 18px;
          margin-top: 5px;
          margin-left: 0;
          color: #7a7c79;
        }
      }
    }
  }
}

