@import "mixins";

html {
  font-size: 14px;
  font-family: 'Vermin', Helvetica, Arial, sans-serif;

  a {
    color: black;
    text-decoration: none;
  }
}

body {
  position: relative;
  padding-top: 30px;

  &.nav_stick {
    nav + div {
      margin-top: 150px;
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

input, button {
  box-shadow: none;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}

.clearfix {
  &:after, &:before {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

p {
  margin-top: 0;
}

.top-bar {
  text-align: center;
  margin-bottom: 50px;
}

nav {
  text-align: center;
  margin-bottom: 50px;
  z-index: 10;
  background-color: white;

  ul {
    list-style-type: none;
    display: inline-block;
    height: 50px;

    li {
      display: inline-block;
      height: 50px;

      a {
        @include uppercase;
        display: inline-block;
        padding: 0 10px;
        border-radius: 3px;
        font-size: 18px;
        font-weight: 300;
        height: 43px;
        line-height: 43px;
        border: 1px solid transparent;
      }

      &:hover a {
        border: 1px solid grey;
        -webkit-transition: font-size 0.25s;
        font-size: 20px;
      }

      &:nth-child(1) {
        width: 80px;
      }

      &:nth-child(2) {
        width: 285px;
      }

      &:nth-child(3) {
        width: 215px;
      }

      &:nth-child(4) {
        width: 300px;
      }

      &:nth-child(5) {
        width: 100px;
      }
    }
  }
}

.container {
  .page-content {
    overflow: hidden;
  }
}

.readmore-js-toggle {
  border-radius: 20px;
  width: 130px !important;
  text-align: left;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin-top: 15px;
  background-color: black;
  color: white;
  opacity: 0.5;
  transition: opacity 0.50s, font-size 0.3s;
  -o-transition: opacity 0.50s, font-size 0.3s;
  -ms-transition: opacity 0.50s, font-size 0.3s;
  -webkit-transition: opacity 0.50s, font-size 0.3s;
  -moz-transition: opacity 0.50s, font-size 0.3s;

  &:hover {
    opacity: 1;
    font-size: 18px;
  }
}

.scroll_to_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 10000;

  img {
    width: 50px;
    height: 50px;
  }
}

.stick {
  position: fixed;
  top: 0;
  width: 100%;
}

