@import "mixins";

.posts-show {
  .post-container {
    width: 70%;
    height: 800px;
    overflow-y: scroll;

    .avatar {
      img {
        height: 400px;
      }
    }

    .post-content {
      padding: 50px;
      font-size: 20px;
      color: black;

      .title {
        font-size: 25px;
        color: $green-text;
      }

      .source {
        color: #576163;
      }

      .description {
        color: #9b9b9b;
        margin-top: 30px;
      }

      .content {
        margin-top: 30px;
        font-weight: 200;
        color: black;
        text-align: justify;
      }
    }
  }
}
