@import "mixins";

$green-text-color: #4a5c5c;

.site-container {
  .top-content {
    width: 1000px;
    margin: 60px auto;
    overflow: hidden;

    .title {
      color: #444646;
      h3 {
        font-weight: bold;
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
      }
    }

    .description {
      width: 550px;
      @include can-read-more;

      .read-more-btn {
        background-color: #8bb9bb;
        color: black;
        width: 120px;
      }
    }
  }

  .content {
    overflow: hidden;
    padding-bottom: 50px;

    .left-content {
      width: 30%;
      background-color: #85aeb7;
      padding-left: 40px;

      ul.posts {
        padding-left: 0;

        li {
          list-style-type: none;
          padding: 30px;
          padding-left: 0;
          color: #4a5c5c;

          .post-title {
            font-weight: bold;
            color: $green-text-color;
          }

          &:hover {
            color: white;
            background-color: #6c9591;

            .post-title {
              color: white;
            }
          }
        }
      }

      .facebook-address {
        display: block;
        overflow: hidden;
        color: $green-text-color;
        margin-bottom: 30px;

        .facebook-btn {
          width: 30px;
          height: 30px;
          margin-right: 20px;
        }
      }
    }

    .albums {
      width: 70%;
    }
  }
}
