@import "mixins";

$green-text-color: #4a5c5c;

.site-container {
  .top-content {
    margin-left: 240px;
    margin-bottom: 50px;
    overflow: hidden;

    .title {
      color: #444646;
      h3 {
        font-weight: bold;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 10px;
      }

      p {
        font-size: 20px;
      }
    }

    .description {
      width: 800px;
      margin-left: 120px;
      font-size: 17px;
      font-weight: 100;
      text-align: justify;

      .read-more-btn {
        background-color: #8bb9bb;
        color: black;
        width: 120px;
      }
    }
  }

  .content {
    overflow: hidden;

    .albums {
      width: 70%;
      box-shadow: none;
      border: none;
      margin-bottom: 0;

      .flex-viewport {
        height: 800px;

        .slides {
          height: 800px;

          .flex-active-slide, .clone {
            height: 800px;
          }
        }
      }

      .flex-control-nav {
        display: none;
      }

      li {
        .animation {
          width: 33.33333333333%;
          height: 33.3333333333%;

          &.album-1, &.album-7 {
            width: 66.66666666666%;
          }

          img {
            height: 100%;
          }

          figcaption {
            h2 {
              font-weight: 300;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
