.container
  .gallery
    .item.graphic.left
      = image_tag image_url("header-image-1.png")
      .item-name GRAPHIC DESIGN
    .item.interior.left
      = image_tag image_url("header-image-2.png")
      .item-name INTERIOR DESIGN
    .item.pallet-wood.left
      = image_tag image_url("header-image-3.png")
      .item-name PALLET WOOD DESIGN

  .about-us.clearfix
    .search-container.clearfix
      %input.right(placeholder="SEARCH")
    .text-container.clearfix
      .title.left
        %span.about-us-text ABOUT US
        %p
          this is
          %span.highlight The Story
      .content.left
        %p.readmore
          Interior Design is the definitive resource for interior designers, architects, and other design professionals, featuring groundbreaking projects, innovative new products, real-time design industry new Interior Design is the definitive resource for interior designers, architects, and other design professionals, featuring groundbreaking projects, innovative new products, real-time design industry new Interior Design is the definitive resource for interior designers, architects, and other design professionals, featuring groundbreaking projects, innovative new products, real-time design industry new Interior Design is the definitive resource for interior designers, architects, and other design professionals, featuring groundbreaking projects, innovative new products, real-time design industry new

  .home-slider.flexslider
    %ul.slides
      - @slider_photo_url.each do |photo_url|
        %li
          %img{ src: photo_url }

  %p.slogan
    \-  LET'S MAKE SOMETHING GREAT TOGETHER  -
  #contact-us
    #map.left
    .info-list.right
      %h3.header CONTACT
      %dl.info
        %dt Location
        %dd 601 CT3, Apartment Ha Do
        %dd 02 Nguyen Van Cong St.
        %dd Go Vap District, HMCM
        %dt Phone numbers
        %dd (+84) 905 929 913
        %dd (+84) 904 549 539
        %dt E-mail
        %dd conghoan@adoh.com
        %dd dat.nguyen.arch@adoh.com

= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyChzZdcrkDyMaLOuwNiDRbNAZDzdzfeIP8'
:javascript
  var map;
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(10.81624, 106.67658),
      zoom: 18,
      mapTypeId : google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('map'),
        mapOptions);

    navigator.geolocation.getCurrentPosition(showPosition);
  }
  google.maps.event.addDomListener(window, 'load', initialize);

  var showPosition = function (position) {
    var userLatLng = new google.maps.LatLng(10.81624, 106.67658);
    var marker = new google.maps.Marker({
      position: userLatLng,
      title: 'Your Location',
      map: map
    });
  }



